In [8]:
# We going to see first a sample of datas 
input_file = "/home/vic/PFM/marketing_pax.csv"
output_file = "/home/vic/PFM/marketing_pax_mini.csv"
! ls $input_file

/home/vic/PFM/marketing_pax.csv

In [ ]:
! head -100000 $input_file > $output_file

In [9]:
import pandas as pd

In [10]:
! head -5 $output_file

rloc^full_name^gender^age^date_of_birth^document_type^document_number^document_country^nationality^fqtv_data^general_status^boarding_status^acceptance_status^bag_status^customer_accepted^checkin_location^boarded_in_all_legs_flag^cabin_code^booking_class_code^airline_code^flight_number^departure_date_leg^quality_index^creation_date^advance_purchase^creator_office_id^creator_iata_number^creator_gds_code^creator_city_code^creator_lat^creator_lon^creator_country_code^creator_continent_name^creator_channel_code^booking_status_code^cabin_code_seg^booking_class_code_seg^pos_office_id^pos_iata_number^pos_gds_code^pos_city_code^pos_lat^pos_lon^pos_country_code^pos_continent_code^pos_channel_code^board_point^board_lat^board_lon^board_country_code^board_continent_code^off_point^off_lat^off_lon^off_country_code^off_continent_code^distance_seg^route^network^airline_code_seg^flight_number_seg^flight_type^revenue_amount_seg^emd_count^emd_amount^fuel_surcharge_amount_seg
60Z666^/MUZASDQUE^F^^^^^^^016037921MK/BXGE/^FD^CL^FI^IG^CAC^W^true^Y^W^XX^2075^2013-06-23^0.50^2015-05-03^49^LEUXXMM42^56495383^XX^LEU^42.338611^1.409167^ES^Europe^E^HK^Y^W^LEUXXMM42^56495383^M5^LEU^42.338611^1.409167^ES^Europe^E^MRV^44.21028^43.13528^RU^Europe^BRU^50.85045^4.34878^BE^Europe^2967.076044145874^BRU-MRV^Europe^XX^2075^I^0.00^^^42.00
612666^Z/MZFFUFGDGZQ^M^^^^^^^014452709MK/BXGE/^FD^CL^FI^IG^CAC^^true^Y^O^XX^9160^2014-04-01^0.50^2016-03-23^6^LEUXXMM42^56495383^XX^LEU^42.338611^1.409167^ES^Europe^E^HK^Y^O^LEUXXMM42^56495383^44^LEU^42.338611^1.409167^ES^Europe^E^BRU^50.85045^4.34878^BE^Europe^LNZ^48.30639^14.28611^AT^Europe^769.5353415995593^BRU-LNZ^Europe^XX^9160^I^74.99^^^39.12
818666^AZSRGZSIAZS/T^M^33^1983-05-02^P^39939WV44^TZO^TZO^^NO^NO^NO^IG^CAC^W^true^Y^W^XX^30^2013-04-16^0.75^2015-04-02^12^HKGNLMM62^07005774^M5^HKG^22.28552^114.15769^HK^Asia^N^HK^Y^W^HKGNLMM62^07005774^M5^HKG^22.28552^114.15769^HK^Asia^N^BRU^50.85045^4.34878^BE^Europe^DEN^39.73915^-104.9847^US^North America^7830.866050736168^BRU-DEN^World^XX^30^I^146.12^^^114.10
827666^T/HUYMXMTGOTMUM^F^40^1976-10-12^P^5719T651^^ZPU^013880457MK/BXGE/^FD^CL^FI^^CAC^J^true^Y^R^XX^5765^2013-02-02^1.00^2014-11-10^82^TLLXXMM42^48450773^XX^TLL^59.43696^24.75353^EE^Europe^E^HK^Y^R^TLLXXMM42^48450773^M5^TLL^59.43696^24.75353^EE^Europe^E^BRU^50.85045^4.34878^BE^Europe^LIL^50.63297^3.05858^FR^Europe^93.9504865327442^BRU-LIL^Europe^XX^5765^I^3.56^^^4.40

In [11]:
# Código de la reserva, nombre del pasajero, fecha de salida, ciudad origen, país origen, ciudad salida, país salida
cols = ['rloc','full_name','departure_date_leg','board_country_code','board_point','off_country_code','off_point']
df_mini = pd.read_csv(output_file, sep='^', usecols=cols, parse_dates=['departure_date_leg'])

In [12]:
df_mini.head(10)

,rloc,full_name,departure_date_leg,board_point,board_country_code,off_point,off_country_code
0,60Z666,/MUZASDQUE,2013-06-23,MRV,RU,BRU,BE
1,612666,Z/MZFFUFGDGZQ,2014-04-01,BRU,BE,LNZ,AT
2,818666,AZSRGZSIAZS/T,2013-04-16,BRU,BE,DEN,US
3,827666,T/HUYMXMTGOTMUM,2013-02-02,BRU,BE,LIL,FR
4,8PD666,YU/YUDVMMTHQZEMX,2013-10-25,BRU,BE,MMX,SE
5,8R7666,H/USADHMEUXQ,2013-11-05,BOO,NO,BRU,BE
6,93X666,YMDFUZDAFFM/,2013-07-25,BRU,BE,ORK,IE
7,0QB666,VAZMFTMZBQSXQD/,2014-04-01,BRU,BE,KTM,NP
8,0AK666,QUR MZPQDEVAZEEAZ/X,2013-08-09,VKO,RU,BRU,BE
9,0AK666,DUW GXR VATMZEFDMZPQXX/PUP,2013-08-05,BRU,BE,VKO,RU

In [13]:
df_mini.dtypes

rloc                          object
full_name                     object
departure_date_leg    datetime64[ns]
board_point                   object
board_country_code            object
off_point                     object
off_country_code              object
dtype: object

In [14]:
# Better show if there are nulls in this columns
df_mini.isnull().sum()

rloc                  0
full_name             0
departure_date_leg    0
board_point           0
board_country_code    0
off_point             0
off_country_code      0
dtype: int64

In [32]:
# It seems that there are no nulls. 
# We are going to group by rloc and get first time and first board and last off
df_agg = df_mini.groupby(['rloc'])

In [33]:
df_agg.count().head()
# Has ocurrences, we goint to join and get info

,full_name,departure_date_leg,board_point,board_country_code,off_point,off_country_code
rloc,,,,,,
0006LV,1,1,1,1,1,1
0016PG,1,1,1,1,1,1
00268V,1,1,1,1,1,1
0026FI,1,1,1,1,1,1
003673,2,2,2,2,2,2

In [34]:
# We use self join
df_merge = pd.merge(df_mini, df_mini, on=['rloc'])

In [35]:
df_merge = df_merge.set_index(['rloc'])

In [47]:
df_mini.loc[df_mini['rloc'] == '003673']

,rloc,full_name,departure_date_leg,board_point,board_country_code,off_point,off_country_code
2461,003673,Z/GXDUWMQDUWEEA,2013-03-24,BRU,BE,HAJ,DE
2462,003673,Z/GXDUWMQDUWEEA,2013-03-22,BRU,BE,RTM,NL

In [48]:
df_merge.loc['003673']

,full_name_x,departure_date_leg_x,board_point_x,board_country_code_x,off_point_x,off_country_code_x,full_name_y,departure_date_leg_y,board_point_y,board_country_code_y,off_point_y,off_country_code_y
rloc,,,,,,,,,,,,
003673,Z/GXDUWMQDUWEEA,2013-03-24,BRU,BE,HAJ,DE,Z/GXDUWMQDUWEEA,2013-03-24,BRU,BE,HAJ,DE
003673,Z/GXDUWMQDUWEEA,2013-03-24,BRU,BE,HAJ,DE,Z/GXDUWMQDUWEEA,2013-03-22,BRU,BE,RTM,NL
003673,Z/GXDUWMQDUWEEA,2013-03-22,BRU,BE,RTM,NL,Z/GXDUWMQDUWEEA,2013-03-24,BRU,BE,HAJ,DE
003673,Z/GXDUWMQDUWEEA,2013-03-22,BRU,BE,RTM,NL,Z/GXDUWMQDUWEEA,2013-03-22,BRU,BE,RTM,NL

In [36]:
df_merge.head(30)

,full_name_x,departure_date_leg_x,board_point_x,board_country_code_x,off_point_x,off_country_code_x,full_name_y,departure_date_leg_y,board_point_y,board_country_code_y,off_point_y,off_country_code_y
rloc,,,,,,,,,,,,
60Z666,/MUZASDQUE,2013-06-23,MRV,RU,BRU,BE,/MUZASDQUE,2013-06-23,MRV,RU,BRU,BE
612666,Z/MZFFUFGDGZQ,2014-04-01,BRU,BE,LNZ,AT,Z/MZFFUFGDGZQ,2014-04-01,BRU,BE,LNZ,AT
818666,AZSRGZSIAZS/T,2013-04-16,BRU,BE,DEN,US,AZSRGZSIAZS/T,2013-04-16,BRU,BE,DEN,US
827666,T/HUYMXMTGOTMUM,2013-02-02,BRU,BE,LIL,FR,T/HUYMXMTGOTMUM,2013-02-02,BRU,BE,LIL,FR
8PD666,YU/YUDVMMTHQZEMX,2013-10-25,BRU,BE,MMX,SE,YU/YUDVMMTHQZEMX,2013-10-25,BRU,BE,MMX,SE
8R7666,H/USADHMEUXQ,2013-11-05,BOO,NO,BRU,BE,H/USADHMEUXQ,2013-11-05,BOO,NO,BRU,BE
93X666,YMDFUZDAFFM/,2013-07-25,BRU,BE,ORK,IE,YMDFUZDAFFM/,2013-07-25,BRU,BE,ORK,IE
0QB666,VAZMFTMZBQSXQD/,2014-04-01,BRU,BE,KTM,NP,VAZMFTMZBQSXQD/,2014-04-01,BRU,BE,KTM,NP
0AK666,QUR MZPQDEVAZEEAZ/X,2013-08-09,VKO,RU,BRU,BE,QUR MZPQDEVAZEEAZ/X,2013-08-09,VKO,RU,BRU,BE
0AK666,QUR MZPQDEVAZEEAZ/X,2013-08-09,VKO,RU,BRU,BE,DUW GXR VATMZEFDMZPQXX/PUP,2013-08-05,BRU,BE,VKO,RU
0AK666,DUW GXR VATMZEFDMZPQXX/PUP,2013-08-05,BRU,BE,VKO,RU,QUR MZPQDEVAZEEAZ/X,2013-08-09,VKO,RU,BRU,BE
0AK666,DUW GXR VATMZEFDMZPQXX/PUP,2013-08-05,BRU,BE,VKO,RU,DUW GXR VATMZEFDMZPQXX/PUP,2013-08-05,BRU,BE,VKO,RU
13J666,QZ/WMDUYUQFFUZ,2013-01-17,ALG,DZ,BRU,BE,QZ/WMDUYUQFFUZ,2013-01-17,ALG,DZ,BRU,BE
1UG666,ZM DAZSOGU/MZ,2014-01-03,KYA,TR,BRU,BE,ZM DAZSOGU/MZ,2014-01-03,KYA,TR,BRU,BE
1UG666,ZM DAZSOGU/MZ,2014-01-03,KYA,TR,BRU,BE,ZM DAZSOGU/MZ,2013-12-21,BRU,BE,VKO,RU
1UG666,ZM DAZSOGU/MZ,2013-12-21,BRU,BE,VKO,RU,ZM DAZSOGU/MZ,2014-01-03,KYA,TR,BRU,BE
1UG666,ZM DAZSOGU/MZ,2013-12-21,BRU,BE,VKO,RU,ZM DAZSOGU/MZ,2013-12-21,BRU,BE,VKO,RU
2HV666,W/QDUWRXUZO,2014-02-20,BRU,BE,TYR,US,W/QDUWRXUZO,2014-02-20,BRU,BE,TYR,US
386666,X/XGFLEFQZLQ,2013-04-19,BRU,BE,SXB,FR,X/XGFLEFQZLQ,2013-04-19,BRU,BE,SXB,FR
386666,X/XGFLEFQZLQ,2013-04-19,BRU,BE,SXB,FR,X/XGFLEFQZLQ,2013-04-19,SXB,FR,BRU,BE
386666,X/XGFLEFQZLQ,2013-04-19,SXB,FR,BRU,BE,X/XGFLEFQZLQ,2013-04-19,BRU,BE,SXB,FR
386666,X/XGFLEFQZLQ,2013-04-19,SXB,FR,BRU,BE,X/XGFLEFQZLQ,2013-04-19,SXB,FR,BRU,BE
3T0666,QUWWU HMXFFQDUAXXUXM/QQDA T,2013-08-31,RLK,CN,BRU,BE,QUWWU HMXFFQDUAXXUXM/QQDA T,2013-08-31,RLK,CN,BRU,BE
3VK666,FMBMZUBMDZM/,2014-03-13,MUW,DZ,BRU,BE,FMBMZUBMDZM/,2014-03-13,MUW,DZ,BRU,BE
M12666,/OMFMXUZMTAXGUSGQ,2013-01-02,BRU,BE,OST,BE,/OMFMXUZMTAXGUSGQ,2013-01-02,BRU,BE,OST,BE
MD1666,QDHQETSAQX/E,2013-04-23,MJV,ES,BRU,BE,QDHQETSAQX/E,2013-04-23,MJV,ES,BRU,BE
NMU666,A/VMDUWUHUWW,2013-01-02,BRU,BE,TYR,US,A/VMDUWUHUWW,2013-01-02,BRU,BE,TYR,US
OMG666,TQDIUSQDMGI/,2013-04-09,BDS,IT,BRU,BE,TQDIUSQDMGI/,2013-04-09,BDS,IT,BRU,BE
OMG666,TQDIUSQDMGI/,2013-04-09,BDS,IT,BRU,BE,TQDIUSQDMGI/,2013-04-19,QXB,FR,BRU,BE
OMG666,TQDIUSQDMGI/,2013-04-19,QXB,FR,BRU,BE,TQDIUSQDMGI/,2013-04-09,BDS,IT,BRU,BE

In [19]:
# Show that case
df_merge.loc[df_merge['rloc'] == '003673']

,rloc,full_name,departure_date_leg_x,board_point_x,board_country_code_x,off_point_x,off_country_code_x,departure_date_leg_y,board_point_y,board_country_code_y,off_point_y,off_country_code_y
2771,003673,Z/GXDUWMQDUWEEA,2013-03-24,BRU,BE,HAJ,DE,2013-03-24,BRU,BE,HAJ,DE
2772,003673,Z/GXDUWMQDUWEEA,2013-03-24,BRU,BE,HAJ,DE,2013-03-22,BRU,BE,RTM,NL
2773,003673,Z/GXDUWMQDUWEEA,2013-03-22,BRU,BE,RTM,NL,2013-03-24,BRU,BE,HAJ,DE
2774,003673,Z/GXDUWMQDUWEEA,2013-03-22,BRU,BE,RTM,NL,2013-03-22,BRU,BE,RTM,NL

In [20]:
# MMM this not is well. We need say conditions in the merge. Maybe PandasSQL. 
# We try filter the data merge with the original dataframe

In [22]:
# We hold x columns or y columns
df_merge2 = df_merge.iloc[:,0:2]
df_merge2.head(5)

     rloc         full_name
0  60Z666        /MUZASDQUE
1  612666     Z/MZFFUFGDGZQ
2  818666     AZSRGZSIAZS/T
3  827666   T/HUYMXMTGOTMUM
4  8PD666  YU/YUDVMMTHQZEMX

In [86]:
# For each rloc-full_name pair we search the recientest date and her board. Too we want the latest date and her off
def getFirstDate():
    # :param

     rloc         full_name
0  60Z666        /MUZASDQUE
1  612666     Z/MZFFUFGDGZQ
2  818666     AZSRGZSIAZS/T
3  827666   T/HUYMXMTGOTMUM
4  8PD666  YU/YUDVMMTHQZEMX

In [ ]:
# Coger el que tenga las fechas mas tempranas. Preguntar a Isra de todas maneras para ver si lo estoy entendiendo bien

In [ ]:
# Comprobate size original mini dataframe and the new grouping