In [16]:
import pandas as pd
import sqlite3 as sql3

In [20]:
path_db = '/home/vic/Repositorios/MyDestiny/MyDestinyAPP/MyDestiny/app.db'
path_csv = '/home/vic/PFM/countries.csv'
table_name = 'country'
index = 'id'

# Create your connection.
conn = sql3.connect(path_db)
# Load csv
file_name = path_csv
df = pd.read_csv(file_name, encoding='utf-8')
df.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [21]:
df.to_sql(name=table_name, index_label=index, con=conn,if_exists='append')